@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Signal R Chat Demo</h1>
    <div class="container">
        <div>
            <label>Your name: </label>
            <input type="text" id="displayname" />
        </div>

        <div class="mt-5">
            <input type="text" id="message" />
            <input type="button" id="sendmessage" value="send" />
        </div>

        <div class="mt-3">
            <ul id="discussion"></ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@@microsoft/signalr@7.0.12/dist/browser/signalr.min.js"></script>

    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/connection").build();

        connection.start().catch(function(err) {
            return console.error(err.toString());
        });
    </script>
</div>
